
<table id="x" class="table table-striped">
	<thead id="xx">
		<tr>
			<th>Iм'я</th>
			<th>Фамiлiя</th>
			<th>Телефон</th>
			<th>Дата</th>
			<th>Майстер</th>
			<th>Колiр</th>
		</tr>
	</thead>
	<tbody>
		<%@results.each do |row|%>
		<tr>
			<td><%=row['Name']%></td>
			<td><%=row['Last_name']%></td>
			<td><%=row['Phone']%></td>
			<td><%=row['Date']%></td>
			<td><%=row['Master']%></td>
			<td><%=row['Color']%></td>
		</tr>
		<%end%>
	</tbody>
</table>